.remind-content{
  max-width: 400px;
  margin: 0 auto;

  .title{
    padding: 15px 0;
    font-size: 22px;
    color: white;
  }

  .form-control-input{
    width: 320px;
  }

  .form-control-input-label{
    color: white!important;
  }

  .sub-link{
    display: flex;
    justify-content: space-between;
    a{
      color: white;
    }
  }

  .btn-entry{
    width: 100%;
    text-align: center;
    max-width: 200px;
    margin: 15px auto;
  }

}
