body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.form-control-input-label {
  display: flex;
  width: 100%;
}


.sign-in-content{
  .sub-link{
    display: flex;
    justify-content: space-between;
    a{
      color: black;
    }
  }
}


.error{
  color: red!important;
}

form.submitted input.error{
  border: 1px solid red!important;
}
form.submitted div.error{
  display: flex!important;
}
form .error{
  display: none;
}